.containerHome {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 92vh;
}

.subcontainer {
    padding-top: 250px;
    color: white;
}

.textHome {
    justify-content: center;
    text-align: center;
}

.textIndice {
    font-weight: bold;
    color: white;
    padding-top: 48px;
    margin-bottom: 4px;
    font-size: 56px;
}

